<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Load Balancer Status</title>
  <meta http-equiv="refresh" content="4">
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
